<?php

namespace {{namaspace_root}}\App\Controllers;

use {{namaspace_root}}\App\Core\Lib\SingleTon;

class {{controller_name}} extends BaseController
{
	use SingleTon;

	public function register()
	{}
}
